#table {
  margin: auto;
  height: 500px;
  width: 1200px;
  background-color: #7bf542;
  padding: 20px;
  margin-bottom: 20px;
}

#welcome {
  text-align: center;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#dealer {
  text-align: center;
}
