body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64eb34;
}

.box {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 800px;
  border: black;
  margin: 10px;
}
